In [8]:
import pandas as pd

# Daten laden
df = pd.read_csv("../data/nyc_311.csv", low_memory=False)

print("Zeilen:", len(df))
print("Spalten (erste 10):", df.columns[:10].tolist())
df.head(3)

Zeilen: 364558
Spalten (erste 10): ['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip', 'Incident Address']

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"

In [9]:
# gesuchte Spalte "Descriptor" finden ggf. Fallback auf "Complaint Type"

if "Descriptor" in df.columns:
    text_series = df["Descriptor"].fillna("").astype(str)
else:
    text_series = df["Complaint Type"].fillna("").astype(str)

# In ein kleines DataFrame packen

text_df = pd.DataFrame({"text": text_series})

print("Texteinträge:", len(text_df))
text_df.head(5)

Texteinträge: 364558

                           text
0              Loud Music/Party
1                     No Access
2                     No Access
3  Commercial Overnight Parking
4              Blocked Sidewalk

In [10]:
# Vorbereitungen

import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

stop_en = set(stopwords.words("english"))

# Funktion

def clean_simple(t):
    t = t.lower()                          # klein
    t = re.sub(r"http\S+|www\.\S+", " ", t)  # urls weg
    t = re.sub(r"[^a-z\s]", " ", t)        # nur buchstaben/leerzeichen
    t = " ".join(w for w in t.split() if w not in stop_en and len(w) > 2)  # stopwörter + sehr kurze wörter raus
    return t

text_df["text_clean"] = text_df["text"].apply(clean_simple)

text_df.head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\julian.mundry\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                            text                     text_clean
0               Loud Music/Party               loud music party
1                      No Access                         access
2                      No Access                         access
3   Commercial Overnight Parking   commercial overnight parking
4               Blocked Sidewalk               blocked sidewalk
5  Posted Parking Sign Violation  posted parking sign violation
6                Blocked Hydrant                blocked hydrant
7                      No Access                         access
8  Posted Parking Sign Violation  posted parking sign violation
9                      No Access                         access